.advantages {
    min-height: 473px;
    padding: 73px 0 65px 0;
    background-color: #F6F6F6; 
    &__wrapper {
        width: 930px;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 260px;
        color: #0D0D0D;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    &__subtitle {
        margin-bottom: 20px;
        color: #0D0D0D;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        span {
            color: #F00;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            text-decoration-line: underline;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}