.button {
    width: 150px;
    height: 30px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 55px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }
    &_effect1 {
        transition: 0.5s all;
        &:hover {
            border: 1px solid #FFF;
        }
    }
    &_effect2 {
        transition: 0.5s all;
        &:hover {
            border: 1px solid #555;
            background-color: #FFF;
            color: $main-color;
        } 
    }
}
